<div id="muscle-map" class="container">
    <img src="../../../assets/Anatomy/Male/male_body.png" alt="male_bodyPNG" id="background">
    <img src="../../../assets/Anatomy/Male/muscles/front/abs_cropped.png" alt="absPNG" id="obliques" (click)="redirect('obliques')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/front/chest_cropped.png" alt="chestPNG" id="pecs" (click)="redirect('pecks')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/front/biceps/biceps_cropped_left.png" alt="bicepsAPNG" id="biceps-a" (click)="redirect('biceps')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/front/biceps/biceps_cropped_right.png" alt="bicepsBPNG" id="biceps-b" (click)="redirect('biceps')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/front/shoulders/shoulders_cropped_left.png" alt="shouldersAPNG" id="shoulders-a" (click)="redirect('shoulders')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/front/shoulders/shoulders_cropped_right.png" alt="shouldersBPNG" id="shoulders-b" (click)="redirect('shoulders')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/front/quads/quads_cropped_left.png" alt="quadsAPNG" id="quads-a" (click)="redirect('quads')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/front/quads/quads_cropped_right.png" alt="quadsBPNG" id="quads-b" (click)="redirect('quads')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/back/back/back_cropped.png" alt="backPNG" id="back" (click)="redirect('back')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/back/glutes/glutes_cropped.png" alt="glutesPNG" id="back-glutes" (click)="redirect('glutes')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/back/triceps/triceps_cropped_left.png" alt="tricepsAPNG" id="triceps-a" (click)="redirect('triceps')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/back/triceps/triceps_cropped_right.png" alt="tricepsBPNG" id="triceps-b" (click)="redirect('triceps')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/back/hamstrings/hamstrings_cropped_left.png" alt="hamAPNG" id="back-hamstrings-a" (click)="redirect('hamstrings')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/back/hamstrings/hamstrings_cropped_right.png" alt="hamAPNG" id="back-hamstrings-b" (click)="redirect('hamstrings')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/back/calves/calves_cropped_left.png" alt="calvesAPNG" id="back-calves-a" (click)="redirect('calves')" class="muscle">
    <img src="../../../assets/Anatomy/Male/muscles/back/calves/calves_cropped_right.png" alt="calvesBPNG" id="back-calves-b" (click)="redirect('calves')" class="muscle">
</div>
