h4{
    text-align: center;
}
nav{
    text-align: center;
}
a{
    font-size: 20px;
}
.active{
    color: blue;
}
.plan{
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    background-color: white;
}
.container{
    background-color: white;
    padding-top: 30px;
    border-radius: 10px;
}

.wrap{
    background-image: url("https://wallpaperaccess.com/full/1087589.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

p{
    font-size: 20px;
}