.nav-link
{
    font-size: 20px;
}
.navbar-brand
{
    font-size: 25px;
}

h2{
    text-align: center;
}
button{
    text-align: center;
}

.dodajDiv{
    text-align: center;
    margin-bottom: 5px;
}
/* .btnDodaj{
    position: fixed;
    bottom: 5%;
    right: 22%;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
} */

.wrap{
    background-image: url("https://wallpaperaccess.com/full/1087589.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    padding-top: 20px;
    background-color: white;
    border-radius: 10px;
}
