h4{
    text-align: center;
}
nav{
    text-align: center;
}
a{
    font-size: 20px;
}
.active{
    color: blue;
}
p{
    font-size: 20px;
}

.container{
    background-color: white;
    padding-top: 30px;
    height: 100%;
    border-radius: 10px;
}

.wrap{
    background-image: url("https://wallpaperaccess.com/full/1087589.jpg");
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.grupa{
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}