h4{
    text-align: center;
}
nav{
    text-align: center;
}
a{
    font-size: 20px;
}
.active{
    color: blue;
}
.welcomeMsg{
    text-align: center;
}
.container{
    opacity: 1;
    background-color: #e4eaf2;
    padding-top: 30px;
    height: 100%;
    border-radius: 10px;
}

.wrap{
    background-image: url("https://wallpaperaccess.com/full/1087589.jpg");
    height: 100%;
}