<div class="wrap">
<div class="container">
    <div class="row">
        <div class="col-3">
            <nav class="nav flex-column">
                <h2>Dashboard</h2>
                <hr>
                <a class="nav-link" href="admin/clanovi">Članovi</a>
                <a class="nav-link" href="admin/grupe">Grupe</a>
                <a class="nav-link" href="admin/treneri">Treneri</a>
                <a class="nav-link" href="admin/vezbe">Vežbe</a>
                <a class="nav-link" href="admin/ishrana">Planovi ishrane</a>
                <a class="nav-link" href="admin/trening">Planovi treninga</a>
                <app-logout></app-logout>
            </nav>
        </div>
        <div class="col-7">
            <h1 class="m-3 welcomeMsg display-1">
                {{welcome | async}}
            </h1>
        </div>
    </div>
</div>
</div>