<div class="container">
  <div class="row">
    <div class="col">
      <div class="playlist">
        <iframe
          src="https://open.spotify.com/embed/playlist/37i9dQZF1DX76Wlfdnj7AP"
          width="300"
          height="380"
          frameborder="0"
          allowtransparency="true"
          allow="encrypted-media"
        ></iframe>
      </div>
    </div>
    <div class="col">
      <div class="playlist">
        <iframe
          src="https://open.spotify.com/embed/playlist/0cCG38OjT3qO0Pd4mg8j1z"
          width="300"
          height="380"
          frameborder="0"
          allowtransparency="true"
          allow="encrypted-media"
        ></iframe>
      </div>
    </div>
  </div>
</div>
