<div class="wrap">
    <div class="social-media">
        <a href="https://www.instagram.com/gymhub.tht/" target="_blank"><img class="img-fluid icon" src="assets/icons/SocialMedia/instagram_w.png" alt="instagram"></a>
        <a href="https://www.facebook.com/" target="_blank"><img class="img-fluid icon" src="assets/icons/SocialMedia/facebook_w.png" alt="face"></a>
        <a href="https://twitter.com/GymHubTHT" target="_blank"><img class="img-fluid icon" src="assets/icons/SocialMedia/twitter_w.png" alt="tweet"></a>
    </div>
    <img class="img-fluid logo" src="assets/Logo/WhiteLogoLetters.png" alt="LOGO">
    <p> ©THT 2021</p>
</div>