<div class="wrap">
<div class="container">
  <div class="row">
    <div class="col-3">
      <nav class="nav flex-column">
        <h2>Dashboard</h2>
        <hr />
        <a class="nav-link" href="admin/clanovi">Članovi</a>
        <a class="nav-link" href="admin/grupe">Grupe</a>
        <a class="nav-link" href="admin/treneri">Treneri</a>
        <a class="nav-link active" href="admin/vezbe">Vežbe</a>
        <a class="nav-link" href="admin/ishrana">Planovi ishrane</a>
        <a class="nav-link" href="admin/trening">Planovi treninga</a>
        <app-logout></app-logout>
      </nav>
    </div>
    <div class="col-7">
        <div *ngFor="let vezba of vezbe | async" class="vezba" aria-label="vezbe">
          <p>Naziv: {{ vezba.Naziv }}</p>
          <p>Opis: {{vezba.Opis}}</p>
          <p>Video link: <a href="{{vezba.VideoLink}}" target="_blank">{{vezba.VideoLink}}</a></p>
          <button type="button" class="btn btn-danger btnObrisi" (click)="obrisi(vezba.ID)"><i class="fas fa-trash-alt"></i></button>
        </div>
    </div>
  </div>
</div>
</div>
