.wrap{
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/1087589.jpg");
    height: 100vh;
    padding: 30px;
}

.container{
    background-color: white;
    border-radius: 10px;
}