<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Biće vam poslat kod na email, potrebno je da ga unesete kako bi ste resetovali vašu lozinku</h3>
                <form #frmEmail='ngForm' (ngSubmit)="posaljiMejl()">
                    <mat-form-field>
                    <mat-label>Unestite email</mat-label>
                    <input matInput type="email" required name="Email" [(ngModel)]="email" [disabled]="mejlPoslat">
                    </mat-form-field>
                    <br/>
                    <button type="submit" class="btn btn-primary mb-3" [disabled]="!frmEmail.valid" id="buttonSubmitEmail">Pošalji mi email</button>
                </form>
                <div *ngIf="mejlPoslat">
                    <form #frmKod = 'ngForm'>
                    <mat-form-field>
                        <mat-label>Unestite kod</mat-label>
                        <input matInput required name="Kod" [(ngModel)]="kod" required minlength="5" maxlength="5" required>
                        </mat-form-field>
                        <br>
                        <button type="submit" class="btn btn-primary" [disabled]="!frmKod.valid" (click)="potvrdiKod()" id="buttonSubmitKod">Potvrdi kod</button>
                    </form>
                </div>
                <div *ngIf="kodSuccess">
                    <form #frmPass='ngForm'>
                    <mat-form-field>
                    <mat-label>Unesite novu lozinku</mat-label>
                    <input matInput required name="Lozinka" [(ngModel)]="lozinka" type="password" minlength="4" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                    <mat-label>Potvrdite lozinku</mat-label>
                    <input matInput required name="LozinkaConfirm" [(ngModel)]="lozinkaConfirm" type="password" minlength="4" required>
                    </mat-form-field>
                    <br>
                    <button type="submit" class="btn btn-primary" [disabled]="!frmPass.valid" (click)="resetLozinka()">Resetuj lozinku</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
