.muscle{
    cursor: pointer;
}
@media screen and (min-width:1000px) {
    #mobilebg {
     display:none
    }
    #mobile-muscle-map {
     display:none
    }
    #muscle-map {
     position:relative
    }
    #background {
     width:100%
    }
    #muscle-map>img:not(#background) {
     display:block;
     position:absolute;
     transition:opacity .2s;
     opacity:0
    }
    #muscle-map>img:not(#background):hover {
     opacity:1
    }
    #muscle-map>#pecs {
     top:18.1%;
     left:16.5%;
     width:16%
    }
    #muscle-map>#shoulders-a {
     top:18.1%;
     left:28.54%;
     width:6.31%
    }
    #muscle-map>#shoulders-b {
     top:18.1%;
     left:14.1%;
     width:6.31%;
    }

    #muscle-map>#biceps-a {
     top:25.3%;
     left:31.67%;
     width:4.55%
    }

    #muscle-map>#biceps-b {
     top:25.3%;
     left:12.93%;
     width:4.55%
    }

    #muscle-map>#obliques {
     top:27.27%;
     left:20.53%;
     width:7.6%
    }
    #muscle-map>#quads-b {
     top:43.5%;
     left:16.2%;
     width:7.55%
    }
    #muscle-map>#quads-a {
     top:43.5%;
     left:25.6%;
     width:7.55%
    }

    #muscle-map>#back {
     top:15%;
     left:67.8%;
     width:16%
    }

    #muscle-map>#triceps-a {
     top:22.83%;
     left:62.75%;
     width:5.58%
    }
    #muscle-map>#triceps-b {
     top:22.83%;
     left:83.1%;
     width:5.58%
    }
    #muscle-map>#back-glutes {
     top:41.5%;
     left:68.1%;
     width:15.18%
    }
    #muscle-map>#back-hamstrings-a {
     top:49.49%;
     left:67.25%;
     width:7.67%
    }
    #muscle-map>#back-hamstrings-b {
     top:49.49%;
     left:76.47%;
     width:7.67%
    }
    #muscle-map>#back-calves-a {
     top:68.93%;
     left:65.2%;
     width:5.5%
    }
    #muscle-map>#back-calves-b {
     top:68.93%;
     left:80.8%;
     width:5.5%
    }
   }

   @media screen and (max-width:1000px) {
    #mobilebg {
     display:none
    }
    #mobile-muscle-map {
     display:none
    }
    #muscle-map {
     position:relative
    }
    #background {
     width:100%
    }
    #muscle-map>img:not(#background) {
     display:block;
     position:absolute;
     transition:opacity .2s;
     opacity:0
    }
    #muscle-map>img:not(#background):hover {
     opacity:1
    }
    #muscle-map>#pecs {
     top:18.3%;
     left:16.7%;
     width:16%
    }
    #muscle-map>#shoulders-a {
     top:18.1%;
     left:28.70%;
     width:6.31%
    }
    #muscle-map>#shoulders-b {
     top:18.1%;
     left:14.5%;
     width:6.31%;
    }

    #muscle-map>#biceps-a {
     top:25.3%;
     left:31.87%;
     width:4.55%
    }

    #muscle-map>#biceps-b {
     top:25.3%;
     left:13.23%;
     width:4.55%
    }

    #muscle-map>#obliques {
     top:27.27%;
     left:20.93%;
     width:7.6%
    }
    #muscle-map>#quads-b {
     top:43.5%;
     left:16.6%;
     width:7.55%
    }
    #muscle-map>#quads-a {
     top:43.5%;
     left:25.6%;
     width:7.55%
    }

    #muscle-map>#back{
     top:15%;
     left:67.6%;
     width:15.5%
    }

    #muscle-map>#triceps-a {
     top:22.83%;
     left:62.75%;
     width:5.58%
    }
    #muscle-map>#triceps-b {
     top:22.83%;
     left:82.75%;
     width:5.58%
    }
    #muscle-map>#back-glutes {
     top:41.5%;
     left:67.7%;
     width:15.08%
    }
    #muscle-map>#back-hamstrings-a {
     top:49.49%;
     left:67.15%;
     width:7.67%
    }
    #muscle-map>#back-hamstrings-b {
     top:49.49%;
     left:76.15%;
     width:7.67%
    }
    #muscle-map>#back-calves-a {
     top:68.93%;
     left:65.1%;
     width:5.5%
    }
    #muscle-map>#back-calves-b {
     top:68.93%;
     left:80.4%;
     width:5.5%
    }
}

@media screen and (max-width:750px) {
    #mobilebg {
     display:none
    }
    #mobile-muscle-map {
     display:none
    }
    #muscle-map {
     position:relative
    }
    #background {
     width:100%
    }
    #muscle-map>img:not(#background) {
     display:block;
     position:absolute;
     transition:opacity .2s;
     opacity:0
    }
    #muscle-map>img:not(#background):hover {
     opacity:1
    }
    #muscle-map>#pecs {
     top:18.3%;
     left:17.9%;
     width:15%
    }
    #muscle-map>#shoulders-a {
     top:18.1%;
     left:29%;
     width:6.31%
    }
    #muscle-map>#shoulders-b {
     top:18.1%;
     left:15.2%;
     width:6.31%;
    }

    #muscle-map>#biceps-a {
     top:25.3%;
     left:32.27%;
     width:4.55%
    }

    #muscle-map>#biceps-b {
     top:25.3%;
     left:13.67%;
     width:4.55%
    }

    #muscle-map>#obliques {
     top:27.27%;
     left:21.4%;
     width:7.6%
    }
    #muscle-map>#quads-b {
     top:43.5%;
     left:16.9%;
     width:7.55%
    }
    #muscle-map>#quads-a {
     top:43.5%;
     left:25.8%;
     width:7.55%
    }

    #muscle-map>#back{
     top:15%;
     left:67%;
     width:15.5%
    }

    #muscle-map>#triceps-a {
     top:22.83%;
     left:62.37%;
     width:5.58%
    }
    #muscle-map>#triceps-b {
     top:22.83%;
     left:81.75%;
     width:5.58%
    }
    #muscle-map>#back-glutes {
     top:41.5%;
     left:67.35%;
     width:15.08%
    }
    #muscle-map>#back-hamstrings-a {
     top:49.49%;
     left:66.8%;
     width:7.67%
    }
    #muscle-map>#back-hamstrings-b {
     top:49.49%;
     left:75.7%;
     width:7.67%
    }
    #muscle-map>#back-calves-a {
     top:68.93%;
     left:64.6%;
     width:5.5%
    }
    #muscle-map>#back-calves-b {
     top:68.93%;
     left:79.8%;
     width:5.5%
    }
}