h4{
    text-align: center;
}
nav{
    text-align: center;
}
a{
    font-size: 20px;
}
.active{
    color: blue;
}
p{
    font-size: 20px;
}

.clan{
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    background-color: white;
}
.btnDodaj{
    position: fixed;
    bottom: 20px;
    right: 22%;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
.mat-form-field{
    margin-left: 3px;
    margin-right: 3px;
}
.fa-pen{
    color: white;
}

.wrap{
    background-image: url("https://wallpaperaccess.com/full/1087589.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    padding-top: 20px;
    background-color: white;
    border-radius: 10px;
}
